<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="phd">
  <div class="wrapper phd__wrapper">
    <h1 class="title phd__title">PhD</h1>
    <hr class="phd__hr" />
    <h2 class="title phd__subtitle">
      Доктор технічних наук/Доктор філософії/PHD
    </h2>

    <div class="content phd__content">
      <p class="phd__info">
        На кафедрі комп'ютеризованих систем управління здійснюється підготовка
        докторів філософії (PhD) за спеціальностями:
        <li>141 - "Електроенергетика, електротехніка та електромеханіка"</li>
        <li>
          174 - "Автоматизація, комп’ютерно-інтегровані технології та
          робототехніка" .
        </li>
      </p>

      <p class="phd__info">
        <span
          class="material-symbols-outlined"
          style="color: blue; font-weight: 900"
        >
          schedule
        </span>
        Термін навчання складає <strong>4 роки</strong>, протягом яких здобувачі
        займаються науковими дослідженнями, оформлюють та захищають дисертацію.
      </p>

      <p class="phd__info">
        <span
          class="material-symbols-outlined"
          style="color: green; font-weight: 900"
        >
          task_alt
        </span>
        Диплом PhD відповідає міжнародним стандартам, а на території України він
        є еквівалентом ступеня кандидата наук.
      </p>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
