<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="studlife">
  <div class="wrapper studlife__wrapper">
    <h1 class="title studlife__title">Студентське життя</h1>
    <hr class="studlife__hr" />
    <h2 class="title studlife__subtitle">Як розважаються наші студенти</h2>

    <div class="content studlife__content">
      <div class="studlife__items">
        <div class="studlife__item studlife__item--gallery">
          <img
            class="studlife__photo"
            src="../../../../assets/img/studlife/2.jpg"
            alt=""
          />
          <img
            class="studlife__photo"
            src="../../../../assets/img/studlife/3.jpg"
            alt=""
          />
          <img
            class="studlife__photo"
            src="../../../../assets/img/studlife/4.jpg"
            alt=""
          />
        </div>

        <div class="studlife__item">
          <ul class="studlife__list">
            <li class="studlife__list--item">
              Подорожі та дозвілля, організовані Профкомом студентів НУК. Дошка
              оголошень є в нашому
              <a
                class="studlife__link"
                href="https://t.me/electroonews"
                target="_blank"
                >Telegram</a
              >
            </li>
            <li class="studlife__list--item">
              Спортивно-оздоровчий табір та база відпочинку Корабел (с. Коблеве)
            </li>
            <li class="studlife__list--item">
              Student Party в
              <a
                class="studlife__link"
                href="https://www.facebook.com/capricaclub/?rf=153749464720689"
                target="_blank"
                >SPACE CAPRICA</a
              >
              з нагоди присвячення в студенти НУК
            </li>
            <li class="studlife__list--item">
              Стажування та навчання за обміном в країнах ЄС (DAAD, Erasmus
              Mundus та ін.)
            </li>
            <li class="studlife__list--item">Work & Travel, Germany</li>
            <li class="studlife__list--item">
              Безкоштовні курси китайської мови
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
