<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="laboratories">
  <div class="wrapper laboratories__wrapper">
    <h1 class="title laboratories__title">Лабораторна База</h1>
    <hr class="laboratories__hr" />
    <h2 class="title laboratories__subtitle">
      Кафедри комп'ютеризованих систем управління
    </h2>

    <div class="content laboratories__content">
      <div class="laboratories__intro">
        <carousel [isAnimated]="true">
          <slide *ngFor="let slide of slides; let index = index">
            <img
              class="laboratories__photo"
              [src]="slide.image"
              alt="image slide"
            />
            <div class="carousel-caption">
              <p>{{ slide.text }}</p>
            </div>
          </slide>
        </carousel>

        <p class="text laboratories__text">
          Всі професійні дисципліни викладаються в
          <strong>комп’ютеризованих аудиторіях</strong> та
          <strong>лабораторіях:</strong>
        </p>

        <p class="text laboratories__text">
          Нове обладнання і переоснащення лабораторій дозволило істотно підняти
          рівень практичної значимості лабораторних занять на нових і
          модернізованих лабораторних стендах. Загальна площа спеціалізованих
          навчальних лабораторій (408 і 415), спеціалізованих аудиторій та
          комп’ютерних класів (416а і 424) складає близько 210 м2.
        </p>
        <br />
        <p class="text laboratories__text">
          Вагомий внесок у розвиток та удосконалення лабораторної бази кафедри
          зроблено старшим лаборантом Білаєм Олегом Михайловичем, який є
          висококваліфікованим фахівцем в галузі електроніки та мікропроцесорної
          техніки. Його руками створено сучасну навчальну лабораторію з вивчення
          електронної та мікропроцесорної техніки.
        </p>
        <br />
        <ul class="laboratories__menu-items">
          <li class="laboratories__menu-item">
            <a routerLink="/laboratories" fragment="comp_classes"
              >Комп'ютерні класи</a
            >
          </li>
          <li class="laboratories__menu-item">
            <a
              routerLink="/laboratories"
              fragment="lab_electronics_and_schemotechnika"
            >
              Лабораторія електроніки та мікросхемотехніки</a
            >
          </li>
        </ul>
      </div>

      <div class="laboratories__items">
        <div class="laboratories__item">
          <h3 id="comp_classes" class="title laboratories__item--subtitle">
            Комп'ютерні класи
          </h3>
          <div class="text laboratories__text">
            <p>
              Всі професійні предмети викладаються в комп’ютерних класах,
              обладнаних сучасною комп’ютерною технікою (спонсор − компанія
              Geeks For Less), а також у спеціалізованих лабораторіях з
              навчальними стендами. <br /><br />
              В комп'ютерних класах проходять лабораторні та практичні заняття з
              дисциплін:
            </p>
            <br />

            <ul>
              <strong
                >1. Інформаційні технології систем управління та захисту
                інформації:</strong
              >
              <li>– мережеві операційні системи, Windows server family;</li>
              <li>
                – програмне забезпечення мережевих інформаційних технологій,
                Apache HTTP-сервер, поштовий сервер Dovecot;
              </li>
              <li>– захист інформації в комп’ютерних мережах;</li>
              <li>
                – пошук та усунення несправності програмного забезпечення;
              </li>
              <li>
                – планування відмово-стійкості та захищеності
                програмно-апаратного комплексу;
              </li>
              <li>
                – створення віртуальної машини, основні принципи віртуалізації,
                установка сучасної операційної системи Windows;
              </li>
              <li>
                – установка та адміністрування операційної системи Linux, Red
                Hat family;
              </li>
              <li>– порівняльний аналіз Sendmail та Postfix;</li>
              <li>– розподілена система керування версіями Git;</li>
              <li>– крос-платформові клієнт-серверні додатки, Puppet;</li>
              <li>
                – засоби віртуалізації на рівні операційної системи, Linux
                Containers;
              </li>
              <li>
                – основні поняття інформаційної безпеки ОС. Мережевий екран
                Firewall.
              </li>
            </ul>
            <br />

            <ul>
              <strong
                >2. Проектування програмних засобів віддаленого
                контролю:</strong
              >
              <li>
                – визначення та класифікація віддалених систем контролю,
                системне і прикладне програмування;
              </li>
              <li>– Big Data, хмарні технології оброки інформації;</li>
              <li>– API, прикладний програмний інтерфейс;</li>
              <li>– внутрішня структура програмної оболонки Iphone;</li>
              <li>– внутрішня структура програмної оболонки Android;</li>
              <li>
                – делегування, контролер подання таблиці, UITableView, розбір
                xml,MVC, програмування парадигм;
              </li>
              <li>– хмарний сервіс ThingSpeak;</li>
              <li>
                – використання делегування для створення загального віджета −
                GridView;
              </li>
              <li>
                – перегляд способів обробки UIViewController, управління
                сегментами;
              </li>
              <li>
                – програмування за допомогою UIScrollView,
                UINavigationController;
              </li>
              <li>– розробка API "Hello World";</li>
              <li>
                – розробка рівня доступу до даних з кодом EF (repository
                pattern);
              </li>
              <li>– кешування даних на різних рівнях хмарного сервісу;</li>
              <li>– розробка API хмарного сервісу ThingSpeak;</li>
              <li>
                – створення програми калькулятора за допомогою конструктора
                інтерфейсів та xCode;
              </li>
              <li>
                – створення медіа-галереї, розробка XML фотографій, контролер
                перегляду фотографій;
              </li>
              <li>
                – створення програмного додатку на програмній оболонці Android;
              </li>
              <li>
                – створення програмного додатку на програмній оболонці Iphone;
              </li>
              <li>– аудіокадри iPhone, перегляд UISlider;</li>
              <li>– локалізація, CoreLocation і MapKit;</li>
              <li>– SOLID, об'єктно-орієнтоване програмування;</li>
              <li>
                – розширення контролера перегляду фотографій, асинхронне
                завантаження піктограм;
              </li>
              <li>– відтворення аудіофайлів за допомогою API;</li>
              <li>– розробка контролера для відтворення відео;</li>
              <li>– проект спортивного каталогу;</li>
              <li>– проект галереї для безкоштовної та преміум версії.</li>
            </ul>
            <br />

            <ul>
              <strong>3. Об’єктно-орієнтоване програмування:</strong>
              <li>– імперативне програмування;</li>
              <li>
                – loop, if, switch statement, variables, constants, etc... ;
              </li>
              <li>– принципи ООП - абстракція, успадкування, поліморфізм;</li>
              <li>– створення абстракції;</li>
              <li>– керування пам’яттю;</li>
              <li>– особливості xCode;</li>
              <li>– використання xCode;</li>
              <li>– умови перегонів;</li>
              <li>– мертва точка та синхронізація;</li>
              <li>– схема даних;</li>
              <li>– засоби мови SQL;</li>
              <li>– шаблони Factory;</li>
              <li>– шаблони Observer;</li>
              <li>– шаблон SOLID;</li>
              <li>– шаблон GRASP</li>
            </ul>
            <br />

            <ul>
              <strong>4. Адміністрування комп’ютерних мереж:</strong>
              <li>– основні принципи балансування навантаження;</li>
              <li>
                – балансування навантаження за допомогою F5 Load Balancer;
              </li>
              <li>
                – основні принципи та реалізація маршрутизації потоків
                інформації в локальних мережах;
              </li>
              <li>
                – налагодження основних серверів протоколів прикладного рівня
                мережевої архітектури (http, smtp, ftp, pop3/imap, ssh);
              </li>
              <li>
                – NetAPP: поняття кластеру в ONTAP, доступні протоколи в
                системах збереження даних (SAN, NAS), захист даних.
              </li>
            </ul>
            <br />

            <ul>
              <strong>5. Системи і мережі передачі даних:</strong>
              <li>– загальні мережеві поняття;</li>
              <li>
                – стандартні топології локальних мереж та стандартні локальні
                мережі;
              </li>
              <li>– рівні мережевої архітектури;</li>
              <li>– обладнання локальних мереж;</li>
              <li>– захист інформації у локальних мережах;</li>
              <li>– міжмережевий протокол IP та стек TCP/IP.</li>
            </ul>
            <br />

            <ul>
              <strong
                >6. Спеціалізовані системи управління базами даних:</strong
              >
              <li>– MariaDB;</li>
              <li>– MySQL Workbench;</li>
              <li>– Galera Cluster;</li>
              <li>– Internet Information Services (IIS);</li>
              <li>– MongoDB.</li>
            </ul>
            <br />

            <ul>
              <strong>7. Бази даних:</strong>
              <li>– MS SQL;</li>
              <li>– Postgress.</li>
            </ul>
          </div>
        </div>

        <div class="laboratories__item">
          <h3
            id="lab_electronics_and_schemotechnika"
            class="title laboratories__item--subtitle"
          >
            Лабораторія електроніки та мікросхемотехніки
          </h3>
          <img
            class="laboratories__image"
            src="../../../../assets/img/laboratories/415.jpg"
            alt="lab_electronics_and_schemotechnika"
          /><br /><br />
          <p class="text laboratories__text">
            Обладнана для проведення лабораторних робіт з дисциплін «Комп’ютерна
            електроніка та мікросхемотехніка», «Мікропроцесорні комплекси та
            системи», «Комп’ютеризоване проектування цифрових електронних схем»,
            «Мікропроцесорні системи управління технічними засобами суден». В
            ній присутні:
          </p>

          <ul class="laboratories__menu-items">
            <li class="laboratories__menu-item">
              <a routerLink="/laboratories" fragment="LC_2012S"
                >Учбовий програмно-апаратний комплекс LC_2012S;</a
              >
            </li>
            <li class="laboratories__menu-item">
              <a routerLink="/laboratories" fragment="LC-SCADA-C1"
                >Лабораторний стенд "Автоматизована система підготовки
                технологічних розчинів" на базі імітатора промислового
                контролера LC-SCADA-C1;</a
              >
            </li>
            <li class="laboratories__menu-item">
              <a routerLink="/laboratories" fragment="LC-SCADA-C2">
                Лабораторний стенд "Автоматизоване керування вантажним ліфтом"
                на базі імітатора промислового контролера LC-SCADA-C2;</a
              >
            </li>
          </ul>

          <div class="laboratories__item">
            <h4 id="LC_2012S" class="title laboratories__item--subtitle">
              Учбовий програмно-апаратний комплекс LC_2012S;
            </h4>
            <img
              class="laboratories__image"
              src="../../../../assets/img/laboratories/lab_1.jpg"
            />
            <p class="laboratories__image-description">
              Базовий модуль LC_2012S
            </p>
            <div class="text laboratories__text">
              <p>Тематика практичних занять і лабораторних робіт:</p>
              <br />
              <ul>
                <strong>1. Аналогова схемотехника:</strong>
                <li>– P-N перехід. Дослідження напівпровідникового діода;</li>
                <li>– дослідження стабілітрона. Параметричний стабілізатор;</li>
                <li>– випрямлячі. Згладжуючі фільтри;</li>

                <li>
                  – біполярний транзистор. Статичні характеристики транзистора;
                </li>
                <li>– компенсаційний стабілізатор напруги;</li>
                <li>– біполярний транзистор в ключовому режимі роботи;</li>
                <li>
                  – польовий транзистор в ключовому режимі роботи. Управління
                  кроковим двигуном;
                </li>
                <li>– операційний підсилювач. Лінійний режим роботи;</li>
                <li>– операційний підсилювач. Імпульсний режим роботи;</li>
                <li>– аналого-цифровий перетворювач;</li>
                <li>– цифро-аналоговий перетворювач</li>
              </ul>
              <br />
              <iframe
                class="laboratories__video"
                src="https://www.youtube.com/embed/r3HLsnN44qE"
              ></iframe>
              <p class="laboratories__image-description">
                LC 2012S. Зняття статичних характеристик біполярного транзистора
              </p>

              <ul>
                <strong
                  >2. Цифрова схемотехніка (2 режими: активний /
                  симуляція)</strong
                >
                <li>– дослідження логічних елементів;</li>
                <li>– тригери;</li>
                <li>– лічильники;</li>
                <li>– регістри;</li>
                <li>– мультиплексори;</li>
                <li>– дешифратор.</li>
              </ul>
              <br />
              <iframe
                class="laboratories__video"
                src="https://www.youtube.com/embed/sKTMcASqyx4"
              ></iframe>
              <p class="laboratories__image-description">
                Цифрова схемотехніка
              </p>

              <ul>
                <strong
                  >3. Інформаційно-вимірювальні системи, елементи та пристрої
                  систем автоматики:</strong
                >
                <li>
                  – оптичні датчики і оптоелектронні компоненти (комплексна
                  робота);
                </li>
                <li>– ультразвукові датчики (комплексна робота);</li>
                <li>– ємнісні датчики і рівнеміри (комплексна робота);</li>
                <li>– інтегральні акселерометри;</li>
                <li>– інтегральні датчики тиску (комплексна робота).</li>
              </ul>
              <br />
              <img
                class="laboratories__image"
                src="../../../../assets/img/laboratories/415_4.jpg"
              />
            </div>
          </div>

          <div class="laboratories__item">
            <h4 id="LC-SCADA-C1" class="title laboratories__item--subtitle">
              Лабораторний стенд "Автоматизована система підготовки
              технологічних розчинів" на базі імітатора промислового контролера
              LC-SCADA-C1
            </h4>
            <img
              class="laboratories__image"
              src="../../../../assets/img/laboratories/415_1.jpg"
            /><br /><br />
            <p class="text laboratories__text">
              Стенд призначений для ознайомлення з організацією стандартного
              протоколу Modbus на базі імітатора промислового контролера (ІПК)
              LC_SCADA_C1 (автоматизація підготовки технологічних розчинів).
              Modbus - відкритий комунікаційний протокол (розроблений компанією
              Modicon), заснований на архітектурі '' клієнт-сервер '', що описує
              формат повідомлень і способи їх передачі в мережі, що складається
              з різних електронних пристроїв і контролерів з програмованої
              логікою. Може використовуватися для передачі даних через
              послідовні лінії зв'язку RS-485, RS-422, RS-232, а також мережі
              TCP / IP (Modbus TCP).
            </p>
            <br />
            <img
              class="laboratories__image--scheme"
              src="../../../../assets/img/laboratories/lab_2.jpg"
            />
            <p class="laboratories__image-description">
              Принципова схема управляючого модуля імітатора промислового
              контролера
            </p>
            <br />
            <div class="text laboratories__text">
              <p>
                В якості імітатора промислового контролера (ІПК), в схемі
                використовується МК AVR ATMega16 (DD2), що забезпечує обмін по
                ряду стандартних функцій промислового протоколу Modbus RTU з
                провідним Master-PC.
              </p>
              <br />
              <p>
                До роз'ємів XR8, XR10 підключаються LCD-дисплей і кнопки пульта
                автономного управління. Контрастність LCD-дисплей забезпечує
                підбудовується дільник напруги R41, R42.
              </p>
              <br />
              <p>
                Джерело опорного напруги VREF, що забезпечує роботу АЦП
                мікроконтролера побудований на інтегральному прецизионном ІОН
                TL431 (DA3) з елементами обв'язки R45-R47, C13, C14.
              </p>
              <br />
              <p>
                Контроль температури технологічного розчину здійснюється
                аналоговим датчиком TMP36 (DA2), підключеному до гнізда XR9 і
                DS1820 (DD3) з цифровим виходом по інтерфейсу 1-Wire (роз'єм
                XR11). Як електронасоса води (M2) встановлено насос омивача
                ВАЗ-2108 типу WM-LA2108 з технічними параметрами: напруга
                живлення Ud = 12 [V], тиск P = 1,4 [kg / cm2], продуктивність
                Cp= 8[mL/sec ], струм споживання Is = 3 [A].
              </p>
              <br />
              <p>
                MOSFET транзистор VT6 є силовим елементом, коммутирующим ток
                електронасоса M2. Для скорочення часу включення і виключення
                потужного польового транзистора VT6, як емітерного повторювача
                використовується комплементарная пара транзисторів VT4-VT5, яка
                встановлена між висновком PD5 MК і затвором керованого
                транзистора VT6. Це дозволяє також знизити навантаження по
                струму на вихідний каскад керуючого MK.
              </p>
              <br />
              <p>
                Продуктивність насоса визначається довгою позитивного імпульсу
                (t1) сигналу широтно-імпульсної модуляції [Pump], що надходить з
                МК. Транзистор VT3 інвертує сигнал [Pump] і забезпечує
                необхідний струм транзисторів повторювача VT4, VT5.
              </p>
              <br />
              <p>
                Між висновком Source (витоком) VT6 і загальним проводом
                встановлений вимірювальний шунт Rsh для контролю струму
                електронасоса M2. Сигнал з шунта (Ush) надходить на попередній
                диференційний підсилювач DA4.1. Операційний підсилювач DA4.2
                включений за схемою неінвертуючого підсилювача. Підлаштування
                резистором R60 здійснюється установка максимального значення
                струму електронасоса до величини опорного напруги АЦП. Таким
                чином досягається максимум шкали діапазону вимірювання АЦП.
              </p>
              <br />
              <iframe
                class="laboratories__video"
                src="https://www.youtube.com/embed/cb253YIwvso"
              ></iframe>
              <p class="laboratories__image-description">
                Автоматизована система підготовки технологічних розчинів
              </p>
            </div>
          </div>

          <div class="laboratories__item">
            <h4 id="LC-SCADA-C2" class="title laboratories__item--subtitle">
              Лабораторний стенд "Автоматизоване керування вантажним ліфтом" на
              базі імітатора промислового контролера LC-SCADA-C2
            </h4>
            <p class="text laboratories__text">
              Призначений для ознайомлення з організацією стандартного протоколу
              Modbus на базі імітатора промислового контролера (ІПК)
              LC_SCADA_C2. Modbus - відкритий комунікаційний протокол
              (розроблений компанією Modicon), заснований на архітектурі ''
              клієнт-сервер '', що описує формат повідомлень і способи їх
              передачі в мережі, що складається з різних електронних пристроїв і
              контролерів з програмованої логікою. Може використовуватися для
              передачі даних через послідовні лінії зв'язку RS-485, RS-422,
              RS-232, а також мережі TCP / IP (Modbus TCP).
            </p>
            <br />
            <img
              class="laboratories__image"
              src="../../../../assets/img/laboratories/415_2.jpg"
            /><br /><br />
            <div class="text laboratories__text">
              <p>
                Як імітатор промислового контролера, в схемі використовується МК
                AVR ATMega16, що забезпечує обмін за стандартом протоколу Modbus
                RTU (аналогічно рис.1.3). Основна відмінність схеми
                представляють модулі оптичних датчиків MSF1- MSF4, MCDS, MODS і
                силова частина управління двигунами підйому кабіни (M1) і дверей
                кабіни (M2) ліфта (рис.2.1).
              </p>
              <br />
              <p>
                Основними елементами силової частини управління двигунами M1, M2
                є інтегральні полумостового драйвери DA2, DA3 (тип IR2111)
                здійснюють управління затворами MOSFET транзисторів VT4-VT7
                моста. MК за допомогою 8-ми бітного таймера, здійснює формування
                імпульсів ШІМ-модуляції (сигнал pwm), параметри якого визначають
                швидкість, напрямок обертання і останов двигунів.
              </p>
              <br />
              <p>
                Для стійкої роботи драйверів, сигнал pwm надходить на ключі VT1,
                VT9, які підвищують амплітуду імпульсів до 10-12V, формуючи при
                цьому прямий (pwm_A) і інверсний (pwm_A #) керуючі сигнали. При
                відповідній скважности імпульсів q < 2 пріоритет отримують
                транзистори VT4, VT7 лівої діагоналі моста. При цьому, струм
                двигуна протікає у напрямку PA → PВ, що викликає обертання
                двигуна, відповідне підйому кабіни ліфта.
              </p>
              <br />
            </div>
            <img
              class="laboratories__image--scheme"
              src="../../../../assets/img/laboratories/lab_3.jpg"
            />
            <p class="laboratories__image-description">
              Принципова схема управляючого модуля імітатора промислового
              контролера
            </p>
            <div class="text laboratories__text">
              <p>
                Для економії апаратних ресурсів, загальної схеми драйверів,
                передбачено почергове включення двигунів M1 і M2 до клеми
                живлення PA. Перемикання двигунів здійснює електронний ключ на
                елементах VT2, R34, R35, K1, VD1 по сигналу [b_M1M2] MK.
              </p>
              <br />
              <p>
                Оптичні датчики контролю поверхів SF1- SF4 ідентичні за своєю
                структурою і складаються з датчика на відображення VO1 і
                елементів R1-R3, C1. C виходів датчиків формуються для МК
                відповідні сигнали b_SF1 ... b_SF4.
              </p>
              <br />
              <p>
                У кабіні ліфта передбачені додаткові датчики ODS і CDS, що
                визначають положення відкритих і закритих дверей відповідно. Між
                висновком Source (витоком) VT6, VT7 і загальним проводом
                встановлений вимірювальний шунт Rsh для контролю струму
                електродвигунів. Сигнал з шунта (Ush) надходить на схему
                підсилювача і фільтра (аналогічно рис.1.3).
              </p>
              <br />
              <p>
                На пульті автономного управління ліфтом встановлений роз'єм
                DB15F для підключення до основних контрольних точках модуля
                LC_SCADA_C2:<br />
                DB15F [1] - pwm_A (DCM_drv), сигнал управління драйвером DA2.<br />
                DB15F [2] - pwm_A # (DCM_drv #), сигнал управління драйвером
                DA3.<br />
                DB15F [3] - b_M1M2 (bit_CabDoor), сигнал комутації силових
                виходів драйвера до одного з двигунів Cab_DCMotor або
                Door_DCMotor.<br />
                DB15F [5] - Ush_DA1.3, сигнал c шунта струму, після посилення і
                фільтрації.<br />
                DB15F [6] - CD_Sens, сигнал c фотодатчика, що фіксує закриття
                дверей кабіни ліфта.<br />
                DB15F [7] - OD_Sens, сигнал c фотодатчика, що фіксує відкриття
                дверей кабіни ліфта.<br />
                DB15F [8] - F1_Sens, сигнал c фотодатчика, що фіксує положення
                кабіни ліфта на 1-му поверсі.
              </p>
              <br />
            </div>
            <iframe
              class="laboratories__video"
              src="https://www.youtube.com/embed/9v5xVPM4xH8"
            ></iframe>
            <p class="laboratories__image-description">
              Автоматизоване керування вантажним ліфтом по протоколу Modbus
            </p>
          </div>

          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
