<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="bakalavr">
  <div class="wrapper bakalavr__wrapper">
    <h1 class="title bakalavr__title">Бакалавр</h1>
    <hr class="bakalavr__hr" />
    <h2 class="title bakalavr__subtitle">Освітній ступінь бакалавра</h2>

    <div class="content bakalavr__content">
      <div class="bakalavr__items">
        <div class="bakalavr__item">
          <p class="text bakalavr__item--text">
            Навчання здійснюється на денному відділенні за рахунок державного
            бюджету або на контрактній основі.
          </p>
        </div>

        <div class="bakalavr__item">
          <p class="bakalavr__item--text">
            <span
              class="material-symbols-outlined"
              style="color: blue; font-weight: 900; padding-right: 5px"
            >
              schedule </span
            ><strong>Термін навчання: </strong> 4 роки
          </p>
        </div>

        <div class="bakalavr__item">
          <div class="text bakalavr__item--text">
            <p>
              З 2020 р. діє договір про співробітництво між Національним
              університетом кораблебудування ім. адм. Макарова та провідною
              <strong>ІТ-компанією Geeks For Less (Хостінг Макс)</strong>, в
              рамках якого здійснюється підготовка студентів спеціальності
              <strong>
                174 - "Автоматизація, комп’ютерно-інтегровані технології та
                робототехніка"
              </strong>
              за профілем компанії.
            </p>
            <p>
              Компетентності та програмні результати навчання, що вимагаються
              від випускників для роботи у Geeks For Less, забезпечуються
              дисциплінами:
            </p>
          </div>
          <ul class="bakalavr__item--list">
            <li><span class="bakalavr__item--point">✔</span> Програмування</li>
            <li>
              <span class="bakalavr__item--point">✔</span> Інформаційні
              технології систем управління та захисту інформації
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span> Проектування
              програмних засобів віддаленого контролю
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span> Об’єктно-орієнтоване
              програмування
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span> Адміністрування
              комп’ютерних мереж
            </li>
            <li><span class="bakalavr__item--point">✔</span> Бази даних</li>
            <li>
              <span class="bakalavr__item--point">✔</span> Системи і мережі
              передачі даних
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span> Спеціалізовані
              системи управління базами даних
            </li>
          </ul>
        </div>

        <div class="bakalavr__item">
          <p class="text bakalavr__item--text">
            Студенти також вивчають побудову комп’ютеризованих систем
            автоматизації у дисциплінах:
          </p>
          <ul class="bakalavr__item--list">
            <li>
              <span class="bakalavr__item--point">✔</span>Електроніка та
              мікросхемотехніка
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Теорія автоматичного
              управління
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Програмні засоби
              систем управління
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Мікропроцесорні
              комплекси та системи
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Комп'ютеризовані
              системи штучного інтелекту
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Управління
              інформаційною безпекою
            </li>
            <li>
              <span class="bakalavr__item--point">✔</span>Основи теорії
              інформації та цифрової обробки сигналів
            </li>
          </ul>
        </div>
      </div>

      <div class="bakalavr__additional-text">
        <span class="material-symbols-outlined bakalavr__icon">
          sync_saved_locally
        </span>
        <p>
          Всі професійні предмети викладаються в
          <a class="bakalavr__link" routerLink="/laboratories"
            >комп’ютерних класах</a
          >, обладнаних сучасною комп’ютерною технікою (спонсор - компанія Geeks
          For Less), а також у спеціалізованих лабораторіях з навчальними
          стендами.
        </p>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
