<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="history">
  <div class="wrapper history__wrapper">
    <h1 class="title history__title">Історія кафедри КСУ</h1>
    <hr class="history__hr" />
    <h2 class="title history__subtitle">
      Кафедра комп'ютеризованих систем управління
    </h2>

    <div class="content history__content">
      <p class="text history__text">
        Кафедру комп’ютеризованих систем управління було відкрито 1 вересня 1998
        року. Її засновником та першим завідувачем був доктор технічних наук,
        професор Кондратенко Юрій Пантелійович. Основу першого
        професорсько-викладацького складу нової кафедри складали: д.т.н.,
        професор Кутковецький В.Я. (захистив докторську дисертацію в Інституті
        електродинаміки НАН України), к.т.н., доцент Карпенко В.С. (захистив
        кандидатську дисертацію в МФТІ), к.т.н., доцент Соболєва М.Б. (захистила
        кандидатську дисертацію в Інституті кібернетики НАН України). Помічником
        завідувача у роботі по формуванню пакета документів, вирішенню
        організаційних та методичних питань, пов’язаних з формуванням концепції
        спеціальності, навчального плану став молодий викладач, аспірант
        Сидоренко С.А.
      </p>
      <br />
      <p class="text history__text">
        У жовтні 1999 р. завідувачем кафедри КСУ призначено кандидата технічних
        наук, доцента Павлова Геннадія Вікторовича. Перша група студентів з 1
        вересня 1999 р. вже почала навчання за спеціальністю 8.091401 "Системи
        управління та автоматики". Тому організація навчального процесу, підбір
        кадрів, створення лабораторної бази і багато інших питань повинні були
        вирішуватися швидко й ефективно. У короткий термін було успішно
        реалізовано розв’язання головних на той час задач, що визначили рівень
        кафедри як сучасного навчально-наукового підрозділу університету –
        розширення та наповнення лабораторних площ кафедри, оснащення їх
        сучасною комп’ютерною технікою і, головне, створення
        висококваліфікованого колективу викладачів і лаборантів. За короткий час
        кафедра комп’ютеризованих систем управління стала однією з найбільш
        успішних в університеті і в загальному рейтингу 3 роки поспіль
        (2006−2008 р.р.) займала перше місце серед випускаючих кафедр НУК, що
        формується на основі таких критеріїв, як доступ до якісної вищої освіти,
        рівень науково-педагогічних кадрів та науково-дослідної роботи.
      </p>
      <br />
      <p class="text history__text">
        Швидкими темпами вирішувати життєво важливі для нової кафедри задачі під
        силу тільки згуртованій команді однодумців. З кожним роком викладацький
        склад кафедри постійно збільшувався, зростав його інтелектуальний
        потенціал. В перші роки існування кафедри відбулися успішні захисти
        дисертацій: докторської – Павловим Г.В. (2001 р., науковий консультант –
        д.т.н., проф. В.Я. Жуйков), кандидатських – Сидоренком С.А. (2002 р.,
        науковий керівник – д.т.н., проф. Ю.П. Кондратенко), Кондратенко Г.В.
        (2003 р. науковий керівник – д.т.н., проф. В.П. Малахов), Підопригорою
        Д.М. (2003 р., науковий керівник – д.т.н., проф. Ю.П. Кондратенко),
        Пекером Б.Н. (2004 р., науковий керівник – д.т.н., проф. В.М.
        Рябенький), Ставинським Р.А. (2004 р., науковий керівник – д.т.н., проф.
        Ю.П. Кондратенко), Обрубовим А.В. (2005 р., науковий керівник – д.т.н.,
        проф. Г.В. Павлов), Аль Зубі Іяд Ясін Мустафа (Йорданія) (2005 р.,
        науковий керівник – д.т.н., проф. Ю.П. Кондратенко), Блінцовим С.В.
        (2005 р., науковий керівник – д.т.н., проф. А.А. Ставинський).
      </p>
      <br />
      <p class="text history__text">
        Для забезпечення високого рівня навчального процесу в галузі
        комп’ютерних технологій та програмування протягом перших років
        функціонування кафедри на роботу за сумісництвом було запрошено фахівців
        як з підприємств (Неделько Ю.Є., з 2012 р. директор ПАТ «Завод
        «Екватор»,Тарабанов Р.Р., гол. інженер ТОВ «Електрим-2000»), так з інших
        ВНЗ Миколаєва (Гожий О.П., к.т.н., доцент МДГУ ім. П.Могили), під
        керівництвом яких наші студенти отримували практичний досвід з
        програмування, комп’ютерних мереж(в комп’ютерних залах конструкторського
        бюро ПАТ «Завод «Екватор», МДГУ ім. П.Могили), з проектування АСУ,
        мікропроцесорної техніки (на виробничих площадках ТОВ «Електрим-2000»).
      </p>
      <br />
      <p class="text history__text">
        К першому випуску фахівців за спеціальністю "Системи управління та
        автоматики" у 2005 р. колектив кафедри складали, як досвідчені, так і
        молоді викладачі: доктори наук, професори: Г.В. Павлов, Ю.П.
        Кондратенко, В.Я. Кутковецький; кандидати наук, доценти: В.С. Карпенко,
        В.Л. Тимченко, Г.В. Кондратенко, Ю.О. Вижол; старші викладачі: С.А.
        Сидоренко, Д.М. Підопригора, А.В. Обрубов, М.В. Покровський. У перші ж
        дні роботи Г.В. Павлов відразу запросив на кафедру провідного інженера
        ВАТ «Інпроектсервіс» Ірину Володимирівну Махнову. Ділові якості і
        порядність дозволили їй стати однією з ключових фігур на кафедрі, а коло
        розв'язуваних нею питань далеко виходить за межі обов'язків методиста.
      </p>
      <br />
      <img
        class="history__image"
        alt="kollective_kafedri"
        src="../../../../assets/img/histrory/collective_2005.jpg"
      />
      <h6 style="text-align: center">
        КОЛЕКТИВ КАФЕДРИ КСУ (ВЕРЕСЕНЬ, 2005 Р.):
      </h6>
      <p class="history__text-description">
        <strong>перший ряд:</strong> Тимченко В.Л. – доц. каф., к.т.н., доц.,
        Кондратенко Г.В. – доц. каф., к.т.н., доц., Кутковецький В.Я. – проф.
        каф., д.т.н., проф., Павлов Г.В. − зав. кафедри, д.т.н., проф.,
        Кондратенко Ю.П. – проф. каф., д.т.н., проф., Махнова І.В. − методист
        каф.;<br /><strong>другий ряд:</strong> Шишкін О.С. – аспірант каф.,
        Блінцов С.В. – ст. викл. каф., Пекер Б.Н. – наук. співроб., к.т.н.,
        Вижол Ю.О. – доц. каф., к. фіз.-мат. н., Обрубов А.В. – доц. каф.,
        к.т.н., Покровський М.В. – ст. викл. каф., Попов А.К. – зав. лабораторій
        каф., Нікітіна О.В. – аспірант каф., Підопригора Д.М. – доц. каф.,
        к.т.н., Явішева І.В. – аспірант каф., Сидоренко С.А. – доц. каф.,
        к.т.н., доц., Іяд Ясін Мустафи Аль Зубі – аспірант кафедри.
      </p>
      <br />
      <p class="text history__text">
        В подальші роки успішно захистили дисертації: докторську – Тимченко В.Л.
        (2012 р., наук. консультант – д.т.н., проф. Ю.П. Кондратенко),
        кандидатські – Покровський М.В. (2006 р., наук. керівник – д.т.н., проф.
        Г.В. Павлов), Черно О.О. (2007 р., наук. керівник – к.т.н., проф. А.П.
        Гуров), Нікітіна О.В. (2008 р., наук. керівник – д.т.н., проф. Г.В.
        Павлов), Блінцов О.В. (2009 р., наук. керівник – д.т.н., проф. Г.В.
        Павлов), Шишкін О.С. (2010 р., наук. керівник – д.т.н., проф. Ю.П.
        Кондратенко), Тимченко І.В. (2010 р., наук. керівник – д.т.н., проф.
        Ю.П. Кондратенко), Коробко О.В. (2013 р., наук. керівник – д.т.н., проф.
        Ю.П. Кондратенко), Щербинін Т.В. (2013 р., наук. керівник – д.т.н.,
        проф. Г.В. Павлов), Козлов О.В. (2014 р., наук. керівник – д.т.н., проф.
        Ю.П. Кондратенко). Випускники кафедри Нікітіна О.В. та Коробко О.В.
        після дострокових успішних захистів дисертацій стали викладачами.
      </p>
      <br />
      <img
        class="history__image"
        alt="kollektive_kafedri"
        src="../../../../assets/img/histrory/collective_2014.jpg"
      />
      <h6 style="text-align: center">
        КОЛЕКТИВ КАФЕДРИ КСУ (ВЕРЕСЕНЬ, 2014 Р.):
      </h6>
      <p class="history__text-description">
        <strong>перший ряд:</strong> Кутковецький В.Я. – проф. каф., д.т.н.,
        проф., Махнова І.В. – методист 1 кат., Павлов Г.В. − завідувач каф.,
        д.т.н., проф., Кондратенко Г.В. – доц. каф., к.т.н., доц., Кондратенко
        Ю.П. – проф. каф., д.т.н., проф.; <br /><strong>другий ряд</strong>:
        Попов А.К. − завідувач лабораторій каф., Білай О.М. – ст. лабор. каф.,
        Покровський М.В. – доц. каф., к.т.н., Щербинін Т.В. – асистент каф.,
        к.т.н., Тимченко І.В. – доц. каф., к.т.н., Нікітіна О.В. – ст. викл.
        каф., к.т.н., Марущак І.А. – лабор. каф., Вінниченко І.Л. – аспірант
        каф., Черно О.О. – доц. каф.,к.т.н., доц., Коробко О.В. – асистент каф.,
        к.т.н., Вижол Ю.О. – доц. каф., к.фіз.-мат.н.
      </p>
      <br />
      <p class="text history__text">
        З самого початку на кафедрі плідно працюють два наукових колективи, які
        представляють наукові школи «Енергоефективне перетворення параметрів
        електроенергії» та «Інтелектуальні технології в системах управління
        об’єктами та технологічними процесами» під керівництвом д.т.н.,
        професорів Г.В. Павлова та Ю.П. Кондратенко. Діяльність наукових
        колективів і була запорукою успішного розвитку кафедри протягом більш,
        як півтора десятиріччя. До 2010 р. це були науково-виробничі колективи
        «Конвертор» і «Сигнал». Науковими колективами вирішувались всі важливі
        задачі кафедри: підготовка науково-педагогічних кадрів, проведення
        науково-дослідних робіт, підготовка наукових публікацій та
        навчально-методичних робіт, створення науково-дослідних та навчальних
        лабораторій. Наукові дослідження кафедри мають широкий спектр, який
        постійно розширюється. Головні напрямки сьогодні це: системи підтримки
        прийняття рішень при наявності невизначеності інформації; теорія
        нечітких множин та нечіткої логіки; управління складними
        багатозв’язаними технічними об’єктами в умовах, що змінюються випадковим
        чином; поведінковий синтез цифрових пристроїв на основі мов опису
        апаратного забезпечення; штучні нейроні мережі; управління в судновій
        енергетиці; перетворювальна техніка; резонансні перетворювачі
        електроенергії; моделювання процесів і систем; вібротехніка.
      </p>
      <br />
      <p class="text history__text">
        Результати досліджень в рамках зазначених наукових напрямів відображені
        більш ніж в 700 наукових роботах, серед яких монографії, навчальні
        посібники з грифом МОНУ, патенти на винаходи, які відомі фахівцям не
        тільки в Україні, але і за кордоном. Завдяки активній діяльності
        наукових колективів всі викладачі кафедри мають науковий ступінь.
      </p>
      <br />
      <div class="history__additional">
        <iframe
          class="history__video"
          src="https://www.youtube.com/embed/BBK8N6AYw1k"
        ></iframe>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
