<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="magistr">
  <div class="wrapper magistr__wrapper">
    <h1 class="title magistr__title">Магістратура</h1>
    <hr class="magistr__hr" />
    <h2 class="title magistr__subtitle">Освітній ступінь магістра</h2>

    <div class="content magistr__content">
      <div class="magistrr__items">
        <div class="magistr__item">
          <p class="text magistr__item--text">
            На базі ступеня бакалавра здійснюється підготовка магістрів зі
            спеціальності
            <strong
              >174 - "Автоматизація, комп’ютерно-інтегровані технології та
              робототехніка"</strong
            >
            за освітньо-професійною програмою
            <strong>"Комп’ютеризовані системи управління та автоматика"</strong>
          </p>
        </div>

        <div class="magistr__item">
          <p class="magistr__item--text">
            <span
              class="material-symbols-outlined"
              style="color: blue; font-weight: 900; padding-right: 5px"
            >
              schedule </span
            ><strong>Термін навчання: </strong> 1 рік 4 міс.
          </p>
        </div>

        <div class="magistr__item">
          <div class="text magistr__item--text">
            <p>
              Магістр з комп'ютеризованих систем управління і автоматики вирішує
              коло <strong>проектних завдань</strong> у галузях: інформаційних
              технологій (ІТ), обчислювальних комплексів і мереж, математичних
              методів та інструментальних засобів моделювання, проектування і
              керування, організації і побудови баз даних, мікропроцесорних
              пристроїв загального та спеціального призначення, а також
              виготовлення, налагодження та впровадження технічних засобів
              комп'ютеризованих інтегрованих систем.<br /><br />
            </p>
            <p>
              Велика увага при підготовці магістра приділяється прищепленню
              навичок проведення самостійної науково-дослідної роботи. Магістр з
              комп'ютеризованих систем управління і автоматики може також
              працювати викладачем у вищих навчальних закладах, в
              науково-дослідних інститутах та проектних центрах при створенні
              принципово нової техніки в області збору, передачі і обробки
              інформації, а також комп'ютеризованих систем управління об'єктами
              і технологічними процесами.
            </p>
            <br />
            <p>
              Протягом першого року навчання здобувачам вищої освіти викладають
              <strong>професійно-орієнтовані дисципліни:</strong>
            </p>
          </div>

          <ul class="magistr__item--list">
            <!-- <li *ngFor="let item of magistrs$ | async"> -->
            <li *ngFor="let discipline of disciplines">
              <span class="magistr__item--point">✔</span> {{ discipline.title }}
            </li>
          </ul>
        </div>

        <div class="magistr__item">
          <div class="text magistr__item--text">
            <p>
              Останні 4 місяці навчання повністю присвячено підготовці
              <strong>магістерської кваліфікаційної роботи</strong>. При
              підготовці фахівців використовуються
              <a class="magistr__link" routerLink="/laboratories"
                >сучасні комп’ютерні класи</a
              >
              , підключені до мережі Internet, а також спеціалізовані аудиторії
              та оснащені сучасними стендами
              <a class="magistr__link" routerLink="/laboratories"
                >лабораторії</a
              >
              з вивчення комп’ютеризованих систем та мереж («Розумний будинок»
              на базі Raspberry Pi), електронної та мікропроцесорної техніки,
              робототехнічних систем («Адаптивний затискач маніпулятора»),
              пристроїв силової електроніки в системах управління («Перетворювач
              частоти (ПЧ)»), систем управління електроприводами на базі
              промислових контролерів та ПЧ фірм «Schneider Electric» та «ОВЕН»
            </p>
            <br />
            <p>
              Високий рівень підготовки забезпечується
              <a class="magistr__link" routerLink="/kafedra"
                >науково-педагогічними кадрами вищої кваліфікації</a
              >
              , серед яких: 3 професори, доктори технічних наук, 6 кандидатів
              технічних та фізико-математичних наук, доценти, викладачі.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
