<!--HEADER -->
<app-header></app-header>

<!--MAIN CONTENT-->
<section class="science">
  <div class="wrapper science__wrapper">
    <h1 class="title science__title">Наука</h1>
    <hr class="science__hr" />
    <h2 class="title science__subtitle">Опис найбільш ефективних розробок</h2>

    <div class="content science__content">
      <div class="science__items">
        <div class="science__item">
          <h2 class="science__item--subtitle">
            Перетворювач частоти на основі резонансного інвертору з
            часо-імпульсним керуванням
          </h2>
          <p class="text science__item--text">
            <strong>Автори: </strong>Г.В. Павлов, І.Л. Вінниченко, М.В.
            Покровський. <br /><br />
            <strong>Основні характеристики, суть роботи: </strong>
            Роботу спрямовано на розробку та дослідження перетворювача частоти
            для вторинного живлення чутливих до несинусоїдності вхідної напруги
            споживачів бортової мережі автономних рухомих та локальних об’єктів
            з метою підвищення надійності, енергетичної та економічної
            ефективності пристрою. В рамках роботи вирішуються задачі вибору
            структури перетворювача частоти, розробки закону імпульсного
            керування, що дозволить отримати синусоїдальну форму вихідної
            напруги при навантаженні змінного під час роботи характеру, розробки
            методики розрахунку елементів схеми перетворювача, математичне та
            імітаційне моделювання, виготовлення та дослідження
            експериментального зразка.
            <br /><br />
            <strong>Патентно-конкурентоспроможні результати: </strong>Отримано 1
            патент на корисну модель України та подано заявку на патент на
            корисну модель України.<br /><br />
            <strong>Порівняння із світовими аналогами: </strong
            ><br />Порівняльний аналіз напрямку досліджень, підходів, робочих
            ідей та доробку авторів проекту дозволяє стверджувати, що очікувані
            результати будуть вагомі на світовому рівні. Запропонований спосіб
            керування дозволить значно знизити рівень динамічних втрат силових
            ключових елементів перетворювача, що дозволить підвищити ККД
            пристрою. Також використання резонансного інвертора у складі
            перетворювача дозволить знизити рівень генерованих електромагнітних
            завад, а використання у його структурі коректору коефіцієнта
            потужності забезпечить електромагнітну сумісність пристрою із
            мережею. Розроблена методика розрахунку параметрів накопичуючих
            лементів схеми дозволить здійснювати розрахунок параметрів
            будь-якого перетворювача з послідовною резонансною ланкою та
            вихідним низькочастотним LC-фільтром.<br /><br />
            <strong>Економічна привабливість: </strong>Собівартість
            високоефективного перетворювача частоти за рахунок запропонованого
            способу керування та резонансного принципу роботи є нижчою за
            імпульсні аналоги такої ж потужності, так як він потребує більш
            дешевої елементної бази через уникнення перенапруг на ключових
            елементах схеми. Крім того, малі масогабаритні показники пристрою
            роблять його зручним при використанні у мобільних автономних
            об’єктах, вантажопідйомність яких обмежена.<br /><br />
            <strong
              >Структури, де планується реалізувати результати розробки: </strong
            >Судна різного призначення.<br /><br />
            <strong>Стан готовності розробок: </strong>Завершальний етап
            розробки.<br /><br />
            <strong>Результати впровадження: </strong>Окремі елементи системи
            впроваджені в Інституті імпульсних процесів і технологій НАН
            України, м. Миколаїв<br /><br />
          </p>
        </div>

        <div class="science__item">
          <h2 class="science__item--subtitle">
            Розробка комп’ютеризованої системи моніторингу та автоматичного
            керування мобільним роботом багатоцільового призначення на основі
            інтелектуальних технологій
          </h2>
          <p class="text science__item--text">
            <strong>Автори: </strong>О.В. Козлов, О.С. Герасін, А.М. Топалов.
            <br /><br />
            <strong>Основні характеристики, суть роботи: </strong>
            Роботу спрямовано на розробку та дослідження комп’ютеризованої
            системи моніторингу та автоматичного керування мобільним роботом
            багатоцільового призначення (МРБП) з метою підвищення надійності,
            енергетичної та економічної ефективності процесів його переміщення
            та виконання заданих технологічних операцій на похилих та
            вертикальних феромагнітних поверхнях. Зокрема, в рамках даного
            проекту на поточному етапі роботи вирішувалися задачі розробки
            розгалуженої функціональної структури, математичних та імітаційних
            моделей, зокрема з використанням інтелектуальних технологій.
            Протягом наступних етапів проекту планується розробка алгоритмів
            керування та оптимізованих інтелектуальних керуючих пристроїв,
            експериментального дослідного зразка, а також розвиненого
            людино-машинного інтерфейсу комп’ютеризованої системи моніторингу та
            автоматичного керування МРБП, який застосовується для виконання
            декількох різнотипних технологічних операцій на похилих та
            вертикальних феромагнітних поверхнях. Також планується розробка
            ефективних та надійних програмно-апаратних засобів реалізації та
            практичних рекомендацій з проектування та налаштування
            комп’ютеризованої системи моніторингу та автоматичного керування
            МРБП. Застосування запропонованої комп’ютеризованої системи
            моніторингу та автоматичного керування МРБП на основі
            інтелектуальних технологій та сучасних програмно-апаратних засобів
            дозволить значно підвищити енергоефективність, надійність та
            економічні показники переміщення та виконання заданих технологічних
            операцій.
            <br /><br />
            <strong>Патентно-конкурентоспроможні результати: </strong>Отримано 2
            патенти України на корисну модель.<br /><br />
            <strong>Порівняння із світовими аналогами: </strong
            ><br />Порівняльний аналіз напрямку досліджень, підходів, робочих
            ідей та доробку авторів проекту дозволяє стверджувати, що очікувані
            результати будуть вагомі на світовому рівні. Розгалужена
            функціональна структура, адекватні математичні та імітаційні моделі
            МРБП, гібридного спостерігача притискного зусилля, отримані на
            поточному етапі дослідження мають ознаки наукової новизни. Крім
            того, на наступних етапах виконання проекту очікується отримати
            оптимізовані інтелектуальні керуючі пристрої та алгоритми керування,
            надійні програмно-апаратні засоби та експериментальний зразок
            комп’ютеризованої системи моніторингу та автоматичного керування
            МРБП будуть мати ознаки наукової новизни. Результати виконання
            проекту будуть відповідати кращим результатам світового рівня в
            галузі автоматизації процесів керування та виконання різнотипних
            обслуговуючих технологічних операцій.<br /><br />
            <strong>Економічна привабливість: </strong>Заміна бригад робітників
            одним-двома операторами з керування та обслуговування групи МРБП
            дозволить знизити в рази витрати на заробітну плату та соціальне
            забезпечення, а також робочий час на встановлення монтажних лісів
            для роботи на висоті при збільшенні можливого робочого часу для
            МРБП.<br /><br />
            <strong
              >Структури, де планується реалізувати результати розробки: </strong
            >Суднобудівельні та судноремонтні заводи, порти, елеватори,
            нафтобази.<br /><br />
            <strong>Стан готовності розробок: </strong>Другий (проміжний) етап
            розробки (01.01.2018 - 31.12.2018).<br /><br />
            <strong>Результати впровадження: </strong>Поточні результати
            роботи/розробки можуть бути використані в промисловості в якості
            практичних рекомендацій щодо вибору найбільш придатних конструкцій
            МРБП, рушіїв та притискних пристроїв, окремих елементів МРБП в
            залежності від його габаритів, маси, функціонального призначення,
            зокрема підходів до створення системи керування. Отримані на даному
            етапі математичні та імітаційні моделі дозволяють попередньо (на
            етапі розробки) вибрати та розрахувати технологічні параметри
            основних елементів МРБП (двигунів, редукторів, перетворювачів,
            притискних електромагнітів та датчиків для запропонованої
            функціональної структури системи керування), наочно дослідити
            поведінку МРБП на похилій феромагнітній поверхні у вигляді графіків
            зміни технологічних параметрів робота з часом в залежності від його
            конструктивних параметрів, а також виконуваної технологічної
            операції. Отримані на поточному етапі теоретичні результати мають
            високе практичне значення, однак на даний час вони не впроваджені в
            промисловості.<br /><br />
          </p>
        </div>

        <div class="science__item">
          <h2 class="science__item--subtitle">
            Отримані патенти та подані заявки на винахід у 2018 р.
          </h2>
          <p class="text science__item--text">
            1. Патент України на корисну модель № 122417. Спосіб автоматичного
            контролю рівня рідини з розподіленим по висоті резервуара дискретним
            самотестуванням та компенсацією похибки вимірювання / Кондратенко Ю.
            П., Козлов О. В., Кондратенко Г. В., Коробко О. В., Топалов А. М.,
            Герасін О. С. – № u201706248; заявл. 19.06.2017; опубл. 10.01.2018,
            Бюл. № 1.<br /><br />
            2. Патент України на корисну модель № 123630. Система автоматичного
            контролю рівня рідини з розподіленим по висоті резервуара дискретним
            самотестуванням та компенсацією похибки вимірювання / Кондратенко Ю.
            П., Козлов О. В., Коробко О. В. – № u201701688; заявл. 22.02.2017;
            опубл. 12.03.2018, Бюл. № 5.<br /><br />
            3. Патент України на корисну модель № 125523. Колесо-рушій
            мобільного робота / Ю.П. Кондратенко, Ю.М. Запорожець, О.С. Герасін,
            Г.В. Кондратенко. – № u 2017 12633; заявл. 19.12.2017; опубл.
            10.05.2018, Бюл. № 9.<br /><br />
            4. Патент України на корисну модель № 126444. Спосіб
            магнітокерованого переміщення мобільного робота / Ю.П. Кондратенко,
            Ю.М. Запорожець, О.С. Герасін, М.О. Таранов. – № u 2017 12632;
            заявл. 19.12.2017; опубл. 25.06.2018, Бюл. № 12.
          </p>
        </div>

        <div class="science__item">
          <h2 class="science__item--subtitle">
            Методичні розробки, видані у 2018 р.
          </h2>
          <p class="text science__item--text">
            <strong>Навчальний посібник: </strong>
            Гуров А.П. Навчальний посібник з дисципліні “Теорія автоматичного
            керування”: у 2 ч. Частина 1 / А.П. Гуров, С.І. Ольшевський, О.О.
            Черно, Л.І. Бугрім. – Миколаїв: НУК, 2018. – 97 с.<br /><br />

            <strong>Методичні вказівки:</strong><br />
            1. Павлов Г.В. Методичні вказівки для виконання лабораторних робіт з
            дисципліни «Комп’ютеризоване проектування цифрових електронних
            систем» [друк] / Г.В. Павлов, М.В. Покровський, І.Л. Вінниченко.
            Миколаїв: НУК. – 2018 р. – 36 с.<br /><br />
            2. Павлов Г.В. Методичні вказівки до виконання курсового проекту
            «Проектування систем управління на базі мікроконтролерів серії AVR»
            з дисципліни «Мікроконтролери в системах управління» [друк] / Г.В.
            Павлов, М.В. Покровський, І.Л. Вінниченко. Миколаїв: НУК. – 2018 р.
            – 34 с.<br /><br />
            3. Павлов Г.В. Методичні вказівки курсового проекту „Проектування
            пристрою на основі ПЛІС” з дисципліни „Комп’ютеризоване проектування
            цифрових електронних систем” [друк] / Г.В. Павлов, М.В. Покровський,
            І.Л. Вінниченко. Миколаїв: НУК. – 2018 р. – 32 с.<br /><br />
            4. Черно О.О. Моделювання об’єктів та систем: Методичні вказівки до
            лабораторних робіт / О. О. Черно, А. П. Гуров, В. К. Чекунов. –
            Миколаїв: НУК, 2018. – 47 с.<br /><br />
            5. Черно О.О. Системи управління маніпуляційних роботів: Методичні
            вказівки до лабораторних робіт / О. О. Черно, А. П. Гуров, М. В.
            Покровський, О. Л. Авдєєва. – Миколаїв : НУК, 2018. – 28 с.<br /><br />
            6. Черно О.О. Методичні вказівки до виконання курсового проекту
            «Проектування системи автоматичного керування суднового вантажного
            ма-ніпулятора» : у 2 ч. Частина 1. Теоретичні основи та методика
            проектування / О. О. Черно, А. П. Гуров, О. Г. Васильєв. – Миколаїв
            : НУК, 2018. – 45 с.<br /><br />
            7. Черно О.О. Методичні вказівки до виконання курсового проекту
            «Проектування системи автоматичного керування суднового вантажного
            маніпулятора» : у 2 ч. Частина 2. Приклад розрахунку / О. О. Черно,
            А. П. Гуров, О. Г. Васильєв. – Миколаїв : НУК, 2018. – 42 с.
            <br />
          </p>
        </div>

        <div class="science__item">
          <h2 class="science__item--subtitle">
            Наукові праці, опубліковані у 2018 р.
          </h2>
          <p class="text science__item--text">
            1. Kondratenko, Y.P., Kozlov, O.V., Kondratenko, G.V., Atamanyuk,
            I.P. Mathematical Model and Parametrical Identification of
            Ecopyrogenesis Plant Based on Soft Computing Techniques // Chapter
            in a book: “Complex Systems: Solutions and Challenges in Economics,
            Management and Engineering”. – Christian Berger-Vachon, Anna María
            Gil Lafuente, Janusz Kacprzyk, Yuriy Kondratenko, José M. Merigó,
            Carlo Francesco Morabito (Eds.). Book Series: Studies in Systems,
            Decision and Control, Vol. 125. – Berlin. Heidelberg: Springer
            International Publishing, 2018. – Р. 201-233. <strong>Scopus</strong
            ><br /><br />

            2. Kondratenko, Y.P., Kozlov, O.V., Korobko O.V. Two Modifications
            of the Automatic Rule Base Synthesis for Fuzzy Control and Decision
            Making Systems // Chapter in a book: “Information Processing and
            Management of Uncertainty in Knowledge-Based Systems. Theory and
            Foundations”. – Medina, J., Ojeda-Aciego, M., Verdegay, J.L., Pelta,
            D.A., Cabrera, I.P., Bouchon-Meunier, B., Yager, R.R. (Eds.). Book
            Series: Communications in Computer and Information Science, Vol.
            854. – Berlin. Heidelberg: Springer International Publishing, 2018.
            – Р. 570-582. DOI 10.1007/978-3-319-91476-3 <strong>Scopus</strong
            ><br /><br />

            3. Yuriy Kondratenko, Yuriy Zaporozhets, Joachim Rudolph, Oleksandr
            Gerasin, Andriy Topalov, Oleksiy Kozlov: Modeling of clamping
            magnets interaction with ferromagnetic surface for wheel mobile
            robots. International Journal of Computing, Vol.17, Issue 1, Open
            Access, 2018, pp. 33-46. <strong>Scopus</strong><br /><br />

            4. Kondratenko Y., Kozlov O., Korobko O., Topalov A. Complex
            Industrial Systems Automation Based on the Internet of Things
            Implementation. In: Bassiliades N. et al. (eds) Information and
            Communication Technologies in Education, Research, and Industrial
            Applications. ICTERI 2017. Communications in Computer and
            Information Science, vol 826. Springer, Cham, 2018. – P. 164-187.
            https://doi.org/10.1007/978-3-319-76168-8_8 <strong>Scopus</strong
            ><br /><br />

            5. Topalov, A.M., Kondratenko, Y.P., Kozlov, O.V. Computerized
            Intelligent System for Remote Diagnostics of Level Sensors in the
            Floating Dock Ballast Complexes. Proceedings of the 14th
            International Conference on Information and Communication
            Technologies in Education, Research, and Industrial Applications.
            Integration, Harmonization and Knowledge Transfer, 2018, Kyiv,
            Ukraine, Ermolayev, V. et al. (Eds), ICTERI’2018, CEUR-WS, Vol-2105,
            P. 94-108. <strong>Scopus</strong><br /><br />

            6. Kondratenko, Y.P., Kozlov, O.V., Topalov, A.M. Fuzzy Controllers
            for Increasing Efficiency of the Floating Dock’s Operations: Design
            and Optimization. In: Vsevolod M. Kuntsevich, Vyacheslav F. Gubarev,
            Yuriy P. Kondratenko, Dmitriy V. Lebedev, Vitaliy P. Lysenko (Eds.),
            Control Systems: Theory and Applications. Series in Automation,
            Control and Robotics. River Publishers, Gistrup, Delft, pp. 197-232,
            2018. <strong>Web of science</strong><br /><br />

            7. Kozlov, O. V. Modeling of an automatic control system for a
            multipurpose mobile robot’s spatial motion [текст] / O. V. Kozlov,
            G. V. Kondratenko, O. S. Gerasin, H. Mingxin // Електротехнічні та
            комп’ютерні системи. – К.: Техніка, 2018. – № 28 (104) – С. 248-256.
            <strong>Фахове видання</strong><br /><br />

            8. Gerasin O. S., Kozlov O. V., Kondratenko G. V., Mingxin H.
            Synthesis and study of the mathematical model of a caterpillar
            mobile robot for vertical movement // Проблеми інформаційних
            технологій. – Херсон, 2018. – № 01(023) – С. 87-97.<strong
              >Фахове видання</strong
            ><br /><br />

            9. Топалов А.М., Кондратенко Ю.П., Козлов О.В. Комп'ютеризована
            система для дистанційної діагностики датчиків рівня баластного
            комплексу плавучого доку // Вчені записки ТНУ імені В.І.
            Вернадського. Серія: технічні науки, 2018. – Том 29 (68) Ч. 2 № 4. –
            С. 19-25.<strong>Фахове видання</strong><br /><br />
            10. Kozlov, O.V., Gerasin, O.S., Kondratenko, Y.P., Kushnir, V.O.
            Automation of the monitoring and control processes of a mobile robot
            for processing of large inclined surfaces. International Journal
            “SHIPBUILDING & MARINE INFRASTRUCTURE”, no. 1 (9), 2018, P. 59-66.
            DOI: 10.15589/SMI. 2018.01.08 <strong>Фахове видання</strong
            ><br /><br />

            11. Черно О. О. Удосконалений алгоритм керування електромагнітним
            вібраційним приводом [Текст] / О. О. Черно, А. П. Гуров //
            Електромеханічні і енергозберігаючі системи. Щоквартальний
            науково-виробничий журнал. – Кременчук: КрНУ, 2018. – Вип. 2/2018
            (42). – С. 23 – 29. <strong>Фахове видання, Google Scholar</strong
            ><br /><br />

            12. Черно О. О. Особливості побудови математичних моделей
            електромагнітних вібраційних приводів [Текст] / О. О. Черно, А. П.
            Гуров, Л. І. Бугрім // Електромеханічні і енергозберігаючі системи.
            Щоквартальний науково-виробничий журнал. – Кременчук: КрНУ, 2018. –
            Вип. 4/2018 (44). – С. 45 − 51.
            <strong>Фахове видання, Google Scholar</strong><br /><br />

            13. Гуров А. П. Експериментальне дослідження керованого
            електромагнітного вібраційного привода [Текст] / А. П. Гуров, О. О.
            Черно, Л. І. Бугрім, А. В. Поляков // Вібрації в техніці та
            технологіях. − 2018. №3 (90). − С. 11 − 21.
            <strong>Фахове видання</strong><br /><br />

            14. Павлов Г. В. Адаптивная система управления преобразователем
            частоты на основе резонансного инвертора с нелинейным регулированием
            [Текст] / Г. В. Павлов, И. Л. Винниченко, М. В. Покровський //
            «Технічна електродинаміка». – К: ІЕД НАНУ, 2018 р. – № 5. – с.
            39–43. <strong>Scopus</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<app-footer></app-footer>
